[Unit]
Description=Render and apply nftables firewall rules

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/sbin/firewall-setup.sh

[Install]
WantedBy=multi-user.target
